
h1 {
    background-color: rgb(145, 145, 236);
    border: 8px rgb(108, 4, 244) solid;
    color:rgb(60, 4, 63);
    font-family: Arial;
    font-size: 58px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

h3{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-style: italic;
}

p{
    font-family: Arial, sans-serif;
    font-size: 25px;
}

IMG{
    height: 500px;
    width: 500px;
}

.about-li{
    border: 6px black solid;
    display:inline-block;
    align-content: center;
    margin-left: 40px;
    padding: 60px 90px 0 70px;
    text-align: center;
}